@font-face {
  font-family: myFont;
  src: url(lilita.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  zoom: 1.05;
}

body {
  background-color: #081b29;
  color: #ededed;
}

.header {
  position: fixed;
  width: 100%;
  padding: 7px 9%;
  background-color: #081b29;
  display: flex;
  align-items: center;
  z-index: 100;
  border-bottom: 2px solid #00abf0;
}

.bg-flag {
  width: 20px;
  border-radius: 100%;
}

.logo {
  display: flex;
  justify-content: left;
  width: 50px;
}
.flag {
  width: 25px;
  border-radius: 100%;
  margin-left: 30px;
}
.drop-button {
  text-decoration: none;
  font-size: 12px;
  color: #ededed;
}

.tutel {
  margin-top: 80px;
  margin-left: 300px;
  margin-bottom: 100px;
  filter: drop-shadow(0px 0px 20px #00abf0);
  transition: 0.4s;
}

.tutel:hover {
  filter: drop-shadow(0px 0px 60px #00abf0);
  transform: scale(1.2);
}

.navbar {
  margin-left: 660px;
}
.navbar a {
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
  position: relative;
}
.navbar a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #00abf0;
  opacity: 1;
  transition: opacity 0.4s, transform 0.4s;
  transform: scale(0);
  transform-origin: center;
}

.navbar a:hover::after,
.navbar:focus::after {
  transform: scale(1);
}

.navbar a:hover {
  color: #00abf0;
}

.home {
  height: 100;
  display: flex;
  align-items: center;
  padding: 9%;
}

.muro-color {
  color: #00abf0;
}

.line {
  margin-top: 17px;
  margin-bottom: 17px;
}

.home-content {
  margin-top: -8%;
  max-width: 500px;
}
.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1, 2;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
}

.home-content p {
  font-size: 16px;
  margin: 30px 0 40px;
}

.home-content .btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
  margin-top: 50px;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  width: 150px;
  height: 55px;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 19px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: 0.5s;
}
.btn-box a:hover {
  color: #00abf0;
}


.portfolio-button
{
  text-decoration: none;
  color: #ededed;
}
.portfolio-button:hover
{
  cursor: pointer;
}

.btn-box a:hover::before {
  width: 100%;
  color: #00abf0;
}

.home-sci {
  position: absolute;
  bottom: 40px;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 2px solid #00abf0;
  border-radius: 50%;
  font-size: 20px;
  color: #00abf0;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: 0.5s;
  background: #00abf0;
}
.home-sci a:hover {
  color: #00abf0;
  box-shadow: 0 0 10px #00abf0;
  text-shadow: 0 0 10px #00abf0;
}

.home-sci a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 30px #00abf0;
}

.about-me {
  margin-left: 9%;
  max-width: 600px;
}
.about-me h1 {
  color: #00abf0;
  margin-bottom: 10px;
}

.down-line {
  width: 100%;
  height: 3px;
  background-color: #6ac1ff;
  border: none;
  margin-top: 50px;
  margin-bottom: 150px;
}

.portfolio {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 80px;
  color: #00abf0;
}
.boxs {
  width: 1500px;
  height: 450px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.box {
  height: 100%;
  width: 30%;
  background-color: #103754;
  border-radius: 50px;
  text-align: center;
  border-style: solid;
  border-color: #103754;
  transition: 0.4s;
}
.box h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 35px;

  margin-right: 40px;
  margin-left: 40px;
  transition: 0.4s;
}
.box p {
  display: flex;
  font-size: 20px;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 200px;
  margin-top: 60px;
}

.box:hover {
  border-style: solid;
  border-color: #00abf0;
  filter: drop-shadow(0px 0px 20px #00abf0);
  transition: 0.4s;
}

.box:hover h1 {
  color: #00abf0;
}

.second-line {
  width: 100%;
  height: 3px;
  background-color: #6ac1ff;
  border: none;
  margin-top: 150px;
  margin-bottom: 150px;
}

#gallery-label {
  text-align: center;
  font-size: 50px;

  margin-top: 5%;
  transition: 0.3s;
}

#gallery-label:hover
{
  color: #00abf0;
  text-shadow: 0px 0px 5px #00abf0;
}

.gallery-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 17%;
  margin-left: 5%;
  margin-right: 5%;
  flex-wrap: wrap;
  gap: 50px;
}

.gallery-content img {
  width: 100%;
  max-width: 600px;
  object-fit: cover;
  padding: 5px;
  transition: 0.2s linear;
}



.gallery-content img:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.1);
  transition: 0.5s;
}

.gallery-content .pop-up {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);

  height: 100%;
  width: 100%;
  display: none;
}

.gallery-content .pop-up span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 40px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}

.gallery-content .pop-up img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  border-radius: 5px;
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.contacts {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 100px;
}

.contacts a { 
  font-size: 18px;
  text-decoration: none;
  color: #00abf0;
  background-color: #103754;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.2s;
}



.instagram
{
  margin-bottom: 40px;
}

.phone
{
  margin-bottom: 40px;
}



.contacts a:hover {
  color: #081b29;
  background-color: #00abf0;
  box-shadow: 0px 0px 15px #00abf0;
}

.third-line {
  width: 100%;
  height: 3px;
  background-color: #6ac1ff;
  border: none;
  margin-top: 150px;
}

@media (max-width: 1170px ) {

  .header {
    width: 100%;
    padding: 20px 6%;
    background-color: #081b29;
    display: flex;
    align-items: center;
    z-index: 100;
    border-bottom: 2px solid #00abf0;
  }

  .navbar
  {
    margin-left: 320px;
  }

  
  .navbar a {
    font-size: 35px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
    position: relative;
  }

  .flag
  {
    margin-left: 350px ;
    width: 45px;
  }
  .logo
  {
    width: 70px;
  }

  .home-content {
  margin-top: 60px;
  max-width: 600px;
  margin-left: 30px;
  }

.home-content h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 1, 2;
}

.home-content h3 {
  font-size: 60px;
  font-weight: 700;
  color: #ffffff;
}



.home-content .btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
  margin-top: 50px;
}

.home-content .btn-box a 
{
  width: 250px;
  height: 120px;
  font-size: 30px;
  border-radius: 30px;
}

.tutel
{
  width: 800px;
  height: 500px;
  margin-top: 200px;
}

.down-line
{
  width: 1700px;
  height: 4px;
}

.home-sci {
  display: none;
}

.boxs{
  display: flex;
  flex-direction: row;
  max-width: 2000px;
  margin-left: 10%;
  height: 900px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1100px;
  gap:4rem;
}

.box
{
    width: 45%;
    
}

.box p
{
  font-size: 40px ;
}

.box h1
{
  font-size: 65px;
  color: #00abf0;
}

.gallery-content
{
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 35%;
  width: 100%;
  height: 100%;
}

.gallery-content img {
  max-width: 1300px;
  width: 1300px;
}
.second-line
{
  width: 1700px;
}

#gallery-label {
  font-size: 100px;
  margin-left: 70%;
  color: #00abf0;
  margin-top: 5%;
}

.contacts
{
  width: 165%;
  padding-left: 5%;
}
.contacts a
{ 
    font-size: 45px;
    display: flex;
    justify-content: center; 
}




.third-line
{
  width: 1700px;
}







}